
/*::::::::::::::GENERAL STYLE:::::::::::::::*/

body{
	background: url("../img/low_contrast_linen.png");
	font-family: 'Pragati Narrow', sans-serif;
	font-size:16px;
	margin: 0 auto;
    text-align:center;
	width:100%;
	height:auto;
}

a{
    color:#f35f4a;
    transition: all 0.4s ease-in-out;
}

a:focus, a:hover{
    color: #fff;
    text-decoration: none;
}

a:hover{
	text-decoration:none;
}

.nopadding{
    padding: 0 !important;
}

.smallpadding{
    padding: 3px !important;
}

.padding{
    padding:2px !important;
}

.appear{
    display:block;
}

.hidden{
    display: none;
}

::-moz-selection {
    background: #f35f4a;
    color: #fff
}

::selection {
    background: #f35f4a;
    color: #fff
}

a.button {
    background: #f35f4a;
    overflow: hidden;
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    margin: 5px auto;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    z-index: 10;
    border-radius: 5px;
    letter-spacing: 1px;
}
a.button span {
    z-index: 20;
    /*background: rgba(255, 255, 255, 0.78);*/
}
a.button:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
}

a.button:hover:after {
    left: 120%;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

a.button:hover{
    background: #e95e49;
}

.separator {
    margin: 30px auto;
    width:80%;
    position:relative;
}

.separator .mask {
    overflow:hidden;
    height:20px;
}

.separator .mask:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 270px / 12px;
    box-shadow: 0 0 7px #ededed;
}

/*SOCIAL MEDIA WIDGETS*/

#fb-widget{
    position: fixed;
    z-index: 300;
    right: -342px;
    top: 200px;
    border: 2px solid #46629E;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    transition: right 1s;
    width: 342px;
}

#fb-widget .zakladka{
    position: absolute;
    top: 130px;
    left: -52px;
    cursor: pointer;

}

#fb-widget:hover{
    right: 0;
}

/*::::::::SELECT 2 ::::::::*/

.select2-container .select2-choice {
    height: 34px;
    line-height: 34px;
}

.select2-container .select2-selection--single{
    height: 35px;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow{
    height: 33px;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    line-height: 35px;
}

/*::::::::General change bootstrap style::::::::::::*/

.badge{
    padding: 3px 13px;
    background-color: #ff5146;
    border-radius: 5px;
    text-shadow: 0 0 2px #000;
}

.badge i{
    margin-right: 5px;
}


/*:::::::::::::::::::::::::HOME PAGE::::::::::::::::::::::*/

/*::::::::HEADER::::::::::*/

header{
    height:auto;
    padding-bottom:5px;
}

header #header-top{
    height:70px;
    width:100%;
    z-index:100;
    transition: all 0.4s ease-in-out;
    background: rgba(00, 00, 00, 0);
    position:fixed;
}

header #header-top.sticky{
    background: rgba(22, 22, 22, 0.4);
    height:50px;
}


header .burger{
    margin-left:50px;
    margin-top: 10px;
    font-size: 28px;
    font-weight:700;
    color:#fff;
    cursor:pointer;
    float: left;
    transition:  0.4s;
}

header .burger:hover{
    color: #f35f4a;
}

header #header-top.sticky .burger{
    margin-top: 5px;
    font-size: 23px;
}

header .burger i{
    padding-right: 10px;
    line-height: 40px;
    top: 3px;
}

header .traggle-menu{
    display:none;
    width:270px;
    background:#141212;
    position:absolute;
    top:0;
    left:0;
    overflow-y:auto;
    z-index:999;
}

header .traggle-menu .close{
    display:inline-block;
    padding: 20px;
    color: #fff;
    opacity: 1;
}

header .traggle-menu .logo{
    margin: 60px auto 40px auto;
}

header .traggle-menu nav ul{
    width: 94%;
    margin: 0 2% 0 4%;
}

header .traggle-menu nav ul li{
    text-align: left;
    height: 37px;
    line-height: 40px;
}

header .traggle-menu nav ul li a{
    font-size: 23px;
    font-weight: 600;
}

header .traggle-menu nav ul li a i{
    width: 38px;
}

header .traggle-menu nav ul li.active a{
    color: #fff;
}



header .traggle-menu .close:hover{
    opacity: 0.6;
}

header .traggle-menu ul{
    margin-top:10px;
    margin-left:40px;
    text-align:left;
    line-height:25px;
    padding-bottom:50px;
}


header .icons-header ul{
    margin-top: 21px;
    margin-right: 20px;
    transition: 0.4s;
}

header #header-top.sticky .icons-header ul{
    margin-top: 15px;
}

header .icons-header ul li{
    float: right;
    display: inline-block;
    margin-right: 30px;
    font-size: 25px;
}

header .icons-header ul li a{
    color: #fff;
}

header .icons-header ul li a:hover{
    color: #f35f4a;
}

header #header-top.sticky .icons-header ul li{
    font-size: 20px;
}

/*::::::::::::::::Carousel HOME:::::::::::::::::*/

header #myCarousel .item{
    height:550px;
}

header .carousel-inner > .item > a > img,
header .carousel-inner > .item > img {
    line-height: 1;
    width: 100%;
    height: 100%;
}

header .carousel-indicators {
    bottom: 15px;
    right: 5%;
    width: 10%;
    padding-left: 0;
    margin-left: 40%;
}

header .carousel-indicators li {
    width: 15px;
    height: 15px;
    background-color: rgba(0,0,0,0);
    border: 3px solid #ff5146;
    border-radius: 4px;
}

header .carousel-indicators .active {
    width: 17px;
    height: 17px;
    background-color: #222;
}

header .carousel-caption {
    right: 10%;
    left: 10%;
    padding-bottom: 30px;
}

header .carousel-caption{
    border-radius: 20px;
    top: 20%;
}

header .carousel-caption h3{
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 30px;
    text-shadow: 0 0 5px #000;
}

header .carousel-caption p{
    font-size: 29px;
    letter-spacing: 2px;
    text-shadow: 0 0 5px #000;
}

header #myCarousel .item{
    background: #222;
}

header #myCarousel .item img{
    opacity: 0.75;
}

/*End Carousel*/

/*Nav bar under carousel*/

header .nav-category{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: #ff5146;
    font-size: 20px;
    font-weight: bold;
}

header .nav-category ul li{
    display: inline-block;
    width: 12%;
    border-left: 1px solid white;
}

header .nav-category ul li:first-child{
    border: none;
}

header .nav-category ul li a{
    transform: scale(1);
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
}

header .nav-category ul li a i{
    margin-right: 10px;
}

header .nav-category ul li a:hover{
    transform: scale(1.2);
    color: #fff;
    background: #ff5146;
    border-radius: 20px;
}


/*SECTIONS WITH RANKS ON HOME PAGE*/

.home-ranking-section{
    padding: 30px 0 60px 0;
}

.home-ranking-section header .home_title{
    font-size: 60px;
    font-weight: 900;
    margin: 40px 0 50px 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 6px;
    text-shadow: 0 0 5px #000;
}

.home-ranking-section .ranking{
    position: relative;
    height: 300px;
    overflow: hidden;
}

.home-ranking-section .ranking img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transform: scale(1);
}

.home-ranking-section .ranking:hover img{
    transform: scale(1.1);
}

.home-ranking-section .ranking .rank-title{
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    transition: 0.4s;
}

.home-ranking-section .ranking .rank-title h3{
    font-size: 30px;
    width: 100%;
    padding: 15px 5px;
    margin: 0;
    line-height: 30px;
    text-shadow: 0 0 5px #000;
}

.home-ranking-section .ranking:hover .rank-title{
    background: #ff5146;

}

.home-ranking-section .button{
    margin-top: 70px;
}


/*::::::::::::::::::CATEGORY $ TAG LIST PAGE:::::::::::::::::::::::::*/

header .page-title{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: #ff5146;
}

header .page-title h1{
    margin: 0;
    color: #fff;
    font-size: 50px;
    padding-top: 10px;
    letter-spacing: 3px;
    font-weight: 900;
}

header .page-title h1 i{
    margin-right: 20px;
}

.category-ranking header{
    margin: 70px 0 70px 0;

}

.category-ranking header .select2-container{
    display: block;
    font-size: 26px;
}

.category-ranking .select-block{
    width: 35%;
}

.category-ranking header h6{
    font-size: 20px;
    color: #fff;
}

.category-ranking header h6 .badge{
    font-size: 18px;
}

.category-ranking .thumbnail{
    background: #f3f3f3;
    border: none;
    padding: 0;
    overflow: hidden;
    margin-top: 20px;
}

.category-ranking .thumbnail:hover .thumbnail-img img{
    transform: scale(1.1);
}

.category-ranking .thumbnail .thumbnail-img{
    overflow: hidden;
    height: 250px;
}

.category-ranking .thumbnail .thumbnail-img img{
    height: 100%;
    width: 100%;
    transform: scale(1);
    transition: 0.4s;
}

.category-ranking .thumbnail a{
    color: #333;
}

.category-ranking .thumbnail .badge{
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
}

.category-ranking .thumbnail h3{
    height: 60px;
    font-weight: 600;
    margin-top: 10px;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category-ranking .thumbnail:hover h3{
    color: #ff5146;
}

.category-ranking .thumbnail p{
    margin: 15px 8px;
    text-align: justify;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
}


/*:::::::::::::::::RANKING PAGE:::::::::::::::::::::::*/

#ranking .ranking-photo{
    background: #000;

}

#ranking .ranking-photo img{
    width: 100%;
    height: 500px;
    opacity: 0.6;
}

#ranking .ranking-photo .rank-caption{
    position: absolute;
    width: 60%;
    top: 100px;
    color: #fff;
    margin: 0 20%;
}

#ranking .ranking-photo .rank-caption h1{
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 30px;
    text-shadow: 0 0 5px #000;
}

#ranking .ranking-photo .rank-caption p{
    font-size: 25px;
    letter-spacing: 1px;
    text-shadow: 0 0 5px #000;
    line-height: 33px;
}

#ranking header .rank-meta{
    width: 100%;
    height: 70px;
    background: #ff5146;
}

#ranking header .rank-meta ul{
    margin: 4px 0 -1px 0;
    float: left;
    display: block;

}

#ranking header .rank-meta ul li{
    display: inline-block;
    margin-right: 0;
    background: #141212;
    color: #fff;
    border-radius: 9px;
    line-height: 20px;
    padding: 5px 10px;
    font-size: 13px;
}

#ranking header .rank-meta ul li i{
    margin-right: 5px;
}

#ranking header .rank-meta ul li a{
    font-weight: bold;
}

/*SECTION WITH RANKIN RESULTS*/
#ranking .rank-section .ranking-result{
    margin-top: 80px;
}

#ranking .rank-section .ranking-result ol li{
    background: #d6d6d6;
    height: 140px;
    border-radius: 10px;
    border: 2px solid #fff;
}

#ranking .rank-section .ranking-result ol li .item-photo{
    height: 100%;
}

#ranking .rank-section .ranking-result ol li .item-photo img{
    height: 100%;
}

#ranking .rank-section .ranking-result ol li .rank-number span{
    font-size: 30px;
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #ff5146;
    background: #141212;
    line-height: 50px;
    font-weight: bold;
    margin: 45px auto;
}

#ranking .rank-section .ranking-result ol li .thumbns ul li{
    height: 50px;
    width: 50px;
    border: none;
    display: inline-block;
    margin: 40px auto;
}

#ranking .rank-section .ranking-result ol li .thumbns ul li i{
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    line-height: 37px;
    font-size: 22px;
    box-shadow: 1px 1px 3px #000;
}

#ranking .rank-section .ranking-result ol li .thumbns ul li.up i{
    /*color: #4875ff;*/
    background: #4875ff;
    color: #fff;
}

#ranking .rank-section .ranking-result ol li .thumbns ul li.down i{
    /*color: #ff1719;*/
    background: #ff1719;
    color: #fff;
}

#ranking .rank-section .item-name{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140px;
}

#ranking .rank-section .item-name h4{
    font-size: 25px;
    font-weight: bold;
}












#ranking .rank-section .sidebar{

}




    /*::::::::::::::::::FOOTER::::::::::::::::::::::::*/

footer{
    background: #141212;
    padding: 40px 0 0 0;
    color: #fff;
    border-top: 20px solid #ff5146;
}

footer h3{
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}


footer .myself p{
    line-height: 30px;
    font-size: 24px;
    width: 90%;
    margin-top: 29px;
    text-align: justify;
}


footer .nav-footer .fa-question-circle-o {
    font-size: 130px;
    margin-top: 50px;
}

footer .navi{
    margin-top: 10px;
}

footer .navi ul li{
    line-height: 35px;
    font-weight: bold;
}

footer .navi ul li a{
    font-size: 21px;
}

footer .copyright{
    height: 30px;
    background: #141212;
    color: #fff;
    text-align: center;
    width: 100%;
    font-weight: bold;
    margin-top: 20px;
    line-height: 30px;
    font-size: 18px;
}













   







